.menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 1px solid transparent;
    width: 34.8%;
    top: 35px;
    left:-35%;
    background: rgba(43, 43, 43, 0.95);
    transition: all 0.3s;
    div{
        border-bottom: 1px solid #f1f1f1;
        padding: 20px;
        color: #f1f1f1;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        &:hover{
            background: rgb(29, 29, 29);
        }
        &:last-child{
            border: none;
        }
    }

}

.show{
    @extend .menu;
    left: 0
}

.arrow-back{
    position: absolute;
    right: 15px;
}